LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
LINE_USER_ID=your_line_user_id
OPENWEATHER_API_KEY=your_openweather_api_key
WEATHER_CITY=Tokyo
STOCK_SYMBOLS=7203.T,^GSPC
FOREX_PAIRS=USDJPY=X,EURJPY=X
